* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E374E;
    width: 100%;
    height: 147px;
    padding: 0 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a {
    display: inline-block;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT */
.left {
  width: 40%;
  background-color: #233f57;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.left h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 14px;
}

input {
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #d9d9d9;
}

/* PHONE */
.phone {
  display: flex;
  align-items: center;
}

.inp {
  font-size: 15px;
}

.phone span {
  background: #d9d9d9;
  padding: 10px;
  border-radius: 20px 0 0 20px;
}

.phone input {
  flex: 1;
  border-radius: 0 20px 20px 0;
}

/* GENDER */
.gender {
  margin-top: 10px;
  font-size: 14px;
}

.gender input {
  margin-left: 10px;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background-color: #2d5bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #1e45cc;
}

/* FOOTER */
.footer {
  margin-top: auto;
  font-size: 12px;
  text-align: center;
}

/* RIGHT */
.right {
  width: 60%;
  background-color: #e5e5e5;
}

.Pasti {
  font-size: 80px;
  position: absolute;
  text-align: left;
  margin-top: -520px;
  margin-left: 900px;
  font-weight: bold;
  width: 300px;
}

.blu {
  color: #1e45cc;
}

.subm {
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}

.subm:hover {
  color: rgb(124, 124, 124);
}
